.inviteeTable{
  width: 100%;

  thead{
    text-align: left;
  }

  tbody{
    td{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.cogsColumn{
  text-align: center;
}


.inviteeActionBtn{
  min-width: 40px;
  background-color: #5e5768;
  border-radius: 5px;
  svg path{
    fill: #fff;
  }
}


.inviteePreview{
  margin-left: 10px;
}
