@import '../../../styles/variables.scss';


p {
  font-size: 0.65em;
  text-align: center;
  line-height: 1.25em;
  color: #e58582;
}

.mickeySilhouette{
  width: 200px;
  height: 200px;
  margin: 10px auto;
}

.inviteDetails {
  width: 266px;
  max-width: 266px;
  padding-top: 10px;
  height: 250px;
  background-color: white;
}

.invite {
  background-color: white;
  width: 266px;
  height: 206px;
  background-color: #ffffff;
}

.invitee p{
  color: $butteredRum;
  font-family: 'waltographregular';
  font-size: 20px;
}

.birthdayText1 p {
  color: $candyAppleRed;
  font-family: 'waltographregular';
  font-size: 24px;
}

.birthdayText2 p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 5px;
}

.birthdayText3 p {
  color: $butteredRum;
  font-family: 'waltographregular';
  font-size: 28px;
}

.dateBox {
  padding: 5px;
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $candyAppleRed;
  }
}

.dottedHorizontal{
  width: 65%;
  margin: 0px auto;
  border-top: 5px dotted black;
}

.timeAndAddress{
  width: 65%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  p{
    font-weight: bold;
    color: $candyAppleRed;
    font-size: 12px;
  }
}

.timeat{
  width: 50%;
  padding-right: 20px;
  text-align: right;
}

.address{
  width: 50%;
  text-align: left;
}
